
body {
    font-family: sans-serif;
}

header {
    background-color: darkblue;
}

main {
    color: darkred;
    background-color: darkslateblue;
}

p {
  color: Aqua;
}

a {
    color: darkorange;
    text-decoration: none;
}

footer {
    background-color: darkslateblue;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 0 0 black;
